__pycache__/
.venv/
wandb/
catseg/loradb/
catseg/loradb_OG_conv/
catseg/loradb_lora_conv/
catseg/datasets/
catseg/output/
catseg/models/
results/
loradb_20.85_indraeye/
loradb_run1_wrong/
IE_Seg_pred_lora/

